#rootMenu {
  width: 100%;
}

.menu {
  position: fixed;
  top:0;
  left: 15%;

  display: flex;
  align-items: center;

  width: 100%;

  z-index: 2;

}

ul {
  list-style: none;
  display: flex;
  padding: 12px;
  background-color: rgb(0, 30, 50);
  border-radius: 26px;
}



.menuButton {
  height: 95%;
  margin-left: 2px;
  margin-right: 2px;
  align-items: center;
  text-decoration: none;
  text-align: center;
  background: linear-gradient(to bottom, #ffffff 90%, #919191 10%);
  background-clip: text;
  color: transparent;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;

}


button:hover {
  color: #ffffff;
  background-color: #555;
}

@keyframes moveMenuDown {
  0% {
    transform: translateY(-100px);
  }

  30% {

    transform: translateY(20px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes moveMenuUp {
  0% {
    transform: translateY(0px);
  }

  30% {

    transform: translateY(20px);
  }

  90% {
    transform: translateY(-200px);
  }

  100% {
    transform: translateY(-200px);
    display: none;
  }
}

.options {
  z-index: 1;
  position: fixed;
  display: none;
  top: -10%;
  height: 220px;
  width: 100%;
  border-radius: 26px;
  background-color: rgb(0, 30, 50);
  color: #ffffff;

}

.submenu{
  position: fixed;
  top: 125px;
  left: 15%;
  
}

#optionsMenu {
  transition: 1s ease;
}