.overlay {


    position: absolute;
    height: 80%;
    width: 80%;
    left: 10%;
    top: 10%;
    display: none;
    
    border: 2px solid #f7f7f8;
    border-radius: 12px;
    background: linear-gradient(#034f70, #002b3d);
    overflow-y: scroll;

  }

  .overlayImagem{
    position: absolute;
    max-width: 40%;
    max-height: 60%;
    margin-left: 2%;
    margin-top: 2%;

    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

  }

  #overlayCloseButton{
    position: absolute;
    left: 95%;
    top: 5%;

    font-size: 22px;
    color: #ffffff;
    background-color: transparent;
    border: none; 
    cursor: pointer; 
    transition: transform 0.5s ease;
  }

  #overlayCloseButton:hover{
    transform: rotate(90deg);
  }

  #overlayContent{    

    position: absolute;
    max-width: 400px;
    top: 10%;
    left: 50%;
    font-size: 22px;
    
    color: #f8f8f7;
  }
