body {
  background: linear-gradient(rgb(5, 60, 80), rgb(47, 114, 143));

  margin: 0;
  padding: 0;

}


#alter {
  position: absolute;
  top: 2%;
  left: 96%;

  height: 24px;
  width: 24px;
  border-radius: 60px;
}