.filtroDiv{
    position: absolute;
    top: 20px;
    left: 440px;

    height: 140px;
    width: 240px;


    background-color: #013952;
    border-style:groove;
    border-color: #001c29;
    padding: 16px;
}
.filtroSair{
    position: absolute;
    top: -10px;
    left: 260px;

    font-size: 12px;
    color: #ffffff;
    background-color: #001c29;
    border-radius: 24px;
    border: none; 
    cursor: pointer; 
    transition: transform 0.5s ease;
    transform: rotate(90deg);

}

.filtroSair:hover{
    transform: rotate(180deg);
}

.filtroReset{

    transform: translate(180px,0px);
    font-size: 14px;
    color: #ffffff;
    background-color: #013952;
    border-radius: 24px;
    border: none; 
    cursor: pointer; 

}