/* ----------------------------------------------------------------------------TIMELINE-----------------*/
#rootLinhaTempo {

    /*Posição*/
    z-index: 1;
    height: 300px;
    width: 80%;
    padding-left: 5%;
    margin-left: 5%;

    margin-left: 5%;
    padding-right: 5%;


    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    user-select: none;
}

.linhaTempo {
    /*Posição*/
    margin-left: 30px;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-style: italic;

}

/*-----------------------  Tooltip  ---------- */
.tooltip {
    
    display: flex;
    width: 18px;
    height: 18px;

    margin-top: 14px;
    margin-bottom: 14px;

    background-color: white;
    border-radius: 50%;
    border: none;

}

.tooltip:hover{
    background-color: rgb(235, 238, 228);
    cursor: pointer;
}


/*-----------------------Barra de Rolagem---------- */
::-webkit-scrollbar {
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #000000; 
    border-radius: 8px; 
}