.menu {
  
  margin-right: 75px;
  display: flex;
  align-items: center;
  color: white;

  justify-content: space-between;

}

#imgheader {
  width: 400px;
  height: auto;
  margin-right: 40px;
  opacity: 1;
  transition: opacity 1.2s ease;

}

ul {
  transform: translate(-50px, 0);
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 44px;
}

.menuButton {

  height: 100%;
  margin-left: 15px;
  margin-right: 15px;
  align-items: center;
  text-decoration: none;
  text-align: center;
  color: var(--cor-menu);
  background-clip: text;
  font-size: var(--fonte-menu);
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: color 0.3s ease, background-color 0.3s ease;

}


button:hover {
  color: #ffffff;
  background-color: #555;
}


.menuButtonX {
  z-index: 3;
  position: absolute;
  background-color: blue;
  top: 66px;
  left: 88%;
  text-decoration: none;
  color: #ffffff;
  background-clip: text;
  font-size: 26px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: color 0.3s ease, background-color 0.3s ease;

  transition: transform 0.4s ease;
  transform: scale(1.6);
}

/*                                      SUBMENU                   */

@keyframes moveLeft {
  0% {
    transform: translateX(400px);
  }

  50% {

    transform: translateX(-60px);
  }

  100% {
    transform: translateX(-30px);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(-30px);
  }

  30% {

    transform: translateX(-60px);
  }

  90% {
    transform: translateX(400px);
  }

  100% {
    transform: translateX(400px);
    display: none;
  }
}


.options {

  z-index: 2;

  position: fixed;
  display: none;
  top: 0;
  left: 90%;

  height: 100%;
  width: 500px;

  border-radius: 26px;
  background-color: var(--cor-submenu);
  color: #ffffff;

}

.submenu {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  transform: translate(0, 65px);

}

.subMenuButton {
  position: relative;
  top: 10%;
  text-align: left;

  background-color: var(--cor-menu);
  background-clip: text;
  color: transparent;
  font-size: calc(var(--fonte-menu) - 8px);
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: color 0.3s ease, background-color 0.3s ease;

}

#optionsMenu {
  transition: 1s ease;
}

@keyframes slideLR {
  0% {

    opacity: 0;
  }

  100% {

    opacity: 1;
  }
}

@keyframes slideRL {
  0% {

    opacity: 1;
  }

  100% {

    opacity: 0;
  }
}

.acessibilidadeDiv {
  z-index: 4;
  color: var(--cor-menu);
  font-size: 22px;
  position: fixed;
  display: none;
  top: 30%;
  left: 20%;

  background-color: var(--cor-submenu);
  border-radius: 20px;

  grid-template-columns: 1fr 1fr 1fr; 
  gap: 20px;
  padding: 50px;
  align-items: center; /* Centraliza verticalmente o conteúdo das colunas */
  justify-items: center; /* Centraliza horizontalmente o conteúdo das colunas */
}

.acessibButton {

  padding: 5px 10px;
  border: 2px solid rgb(30, 100, 60);
  background-color: rgb(60, 120, 140);
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 20px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.acessibButton:hover {
  background-color: white;
  color: rgb(30, 80, 120);
}