.overlay {

  z-index: 4;
  position: absolute;
  height: 80%;
  width: 82%;
  left: 10%;
  top: 10%;
  display: none;

  border: 2px solid #f7f7f8;
  border-radius: 12px;
  background: var(--cor-overlay);
  overflow-y: scroll;
user-select: none;
}

.overlayImagem {
  position: absolute;
  max-width: 40%;
  max-height: 60%;
  margin-left: 2%;
  margin-top: 2%;

  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

#overlayCloseButton {
  position: absolute;
  left: 95%;
  top: 5%;

  font-size: 22px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.5s ease;
}

#overlayCloseButton:hover {
  transform: rotate(90deg);
}

#overlayContent {

  position: absolute;
  max-width: 400px;
  top: 10%;
  left: 50%;
  font-size: var(--fonte-overlay);

  
  color: var(--cor-menu);
}

.fontesPlus{
  z-index: 4;
  width: 20px;
}