.overlay {

  z-index: 4;
  position: fixed;
  height: 80%;
  width: 82%;
  left: 10%;
  top: 10%;
  display: none;

  border: 2px solid #f7f7f8;
  border-radius: 12px;
  background: var(--cor-overlay);
  overflow-y: scroll;
user-select: none;
}

.overlayImagem {
  position: absolute;
  max-width: 40%;
  max-height: 60%;
  margin-left: 2%;
  margin-top: 2%;

  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

#overlayCloseButton {
  position: absolute;
  left: 95%;
  top: 5%;

  font-size: 22px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.5s ease;
}

#overlayCloseButton:hover {
  transform: rotate(90deg);
}

#overlayContent {

  position: absolute;
  max-width: 400px;
  top: 10%;
  left: 50%;
  font-size: var(--fonte-overlay);

  
  color: var(--cor-menu);
}

.divConfigOverlay{
  position: fixed;
  top: 30%;
  left: 30%;
  z-index: 8;
  width: 110px;
  height: 200px;
  background-color: var(--cor-submenu);
  color: var(--cor-menu);
  border-style: groove;
  border-color: black;
  padding: 40px;
  
}

#closeConfigOverlay{
  position: absolute;
  top: -1%;
  left: 89%;
}

.ConfigOverlayButton{
  position: absolute;
  background-image: url('../../backend/imagens/engine.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  width: 30px; 
  height: 30px; 
  border: none;
  cursor: pointer;
  border-radius: 40px; 
  transition: transform 0.5s; 
  overflow: visible;
  top: -5px;
  left: -5px;

}

.ConfigOverlayButton:hover {

  transform: rotate(90deg);
}

.fontesPlus, .fontesMinus{
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 22px;
  cursor: pointer;
  padding: 10px;
  border-radius: 16px;
  transition: background-color 0.3s ease; 
  text-align: center;
  align-items: flex-start;
}


.fontesPlus{
  transform: translate(0,50px);
}

.fontesMinus{
  transform: translate(50px,50px);
}